.LetraNegrita{
    font-weight: normal;
    transition: font-weight 0.0s linear;
}

.LetraNegrita:hover{
    font-weight: bold;
}

.NoColorEnlaces{
       color: inherit;
       text-decoration: underline;
}

.NoColorEnlaces:hover{
    color: black;
    text-decoration: underline;
}

.cards-- {
    flex: 1 1 220px;     
    max-width: 200px;     
    min-width: 200px;    

    margin-bottom: 1rem;
}

.cardColor{
    background-color: rgba(255, 239, 19, 0.404);
}

.cardAnimacion{
    transition: transform 0.2s ease;
}

.cardAnimacion:hover{
    transform: scale(1.03);
}

.CambiarColor{
    color: rgba(0, 0, 0, 0.65);
    transition: font-weight 0.3s linear;
}

.CambiarColor:hover{
    color:rgb(0, 0, 0)
}

.AumentarImagenLibro{
    height: 60px;
    transition: 0.15s linear;
}

.AumentarImagenLibro:hover{
   height: 70px;
}
